.container {
    max-width: 95rem;
}

.navbar-brand img {
    width: 50px;
    height: auto;
}

.hello-msg {
    color: white;
    margin-right: 20px;
    font-size: 18px;
}

.logout-button {
    color: white;
    font-size: 18px;
}

.logout-button:hover {
    color: white;
    text-decoration: inherit;
}


span.username {
    text-transform: capitalize;
}

body {
    background-color: #ebeff5;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#total-orders {
    background-color: #4cb4c7;
}

#orders-delivered {
    background-color: #7abecc;
}

#orders-pending {
    background-color: #7CD1C0;
}